version: "3"
services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    command: >
      sh -c "npm run migration:run && npm run start"
    volumes:
      - .:/app/
      - /app/node_modules

  postgres:
    image: postgres:13.1
    environment:
      POSTGRES_DB: "ryd-assignment"
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
